<br><br>
<div class="row"> 
  <div class="col-md-6">
    <h2><i class="fa fa-users"></i>Movies</h2>
  </div>
</div>
<table *ngIf="movies?.length > 0;" class="table table-striped"> 
  <thead class="thead-inverse">
    <tr>
      <th>Poster</th>
      <th>Title</th>
      <th>Writer</th>
      <th>Director</th>
      <th>Starring</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Plot</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td><img class="thumbnail" src="../../assets/img/{{movie.poster}}" height="50%"></td> 
      <td>{{movie.title}}</td>
      <td>{{movie.writer}}</td>
      <td>{{movie.director}}</td>
      <td>{{movie.starring}}</td>
      <td>{{movie.genre}}</td>
      <td>{{movie.year}}</td>
      <td>{{movie.synopsis}}</td>
      <td><a [routerLink]="['/movie/'+movie._id]" href="" class="btn btn-secondary btn-sm">Details</a></td>
    </tr>
  </tbody>
</table>
