
<br><br>
<!-- <div *ngIf="movies?.length > 0;" class="card-deck" [ngStyle]="{'background': 'url('+picture+') no-repeat center center fixed', 'background-size': '100%', 'width':'1980px',
'margin-left':'-26%', 'margin-bottom': '1em;', 'margin-top':'-5%'}"> -->
<div *ngIf="movies?.length > 0;" class="card-deck">
  <div class="container" style="margin-left:15%;">
  <div class="row">
    <div *ngFor="let movie of movies" style="margin-bottom: 1em; margin-top: 1em;">
      <div class="card card-inverse img-fluid">
        <img class="card-img" src="../../assets/img/{{movie.poster}}" alt="Card image cap">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h4 class="card-title">{{movie.title}}</h4>
          <p class="card-text">Starring {{movie.director}}<br>{{movie.genre}}<br>{{movie.year}}
          <a [routerLink]="['/movie/'+movie._id]" type="" href="" class="btn btn-secondary btn-sm float-right">Details</a></p>
        </div>
     </div>  
  </div>
 </div> 
</div>
</div>

<hr>

