<!-- <div *ngIf="movies?.length > 0;" class="card-deck"> -->
  <ngb-carousel *ngIf="movies?.length > 0;">
    <ng-template ngbSlide *ngFor="let movie of movies" class="card-deck">
       <div class="card card-inverse img-fluid">
        <img class="card-img" src="../../assets/img/{{movie.poster}}" alt="Card image cap">
        <div class="card-img-overlay">
          <br><br><br><br><br><br><br><br><br><br>
          <h4 class="card-title">{{movie.title}}</h4>
          <p class="card-text">Starring {{movie.director}}<br>{{movie.genre}}<br>{{movie.year}}
          <a [routerLink]="['/movie/'+movie._id]" type="" href="" class="btn btn-secondary btn-sm float-right">Details</a></p>
        </div>
     </div> 
    </ng-template>
  </ngb-carousel>
<!-- </div> -->