<div *ngIf="movie" class="container">
    <br>
  <h2 class="page-header">{{movie.title}} ({{movie.year}})</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../../assets/img/{{movie.poster}}" class="thumbnail" >
        </div>
        <div class="col-md-8">
            <h4>{{movie.synopsis}}</h4><br>
            <p>Starring: {{movie.starring}}</p>
            <p>Directed by By: {{movie.director}}</p>
            <p>Written By: {{movie.writer}}</p>
            <p>Released: {{movie.year}}</p>
            <p>Genre: {{movie.genre}}</p>
            <p>Certificate: {{movie.certificate}}</p>
            <p>Language: {{movie.language}}</p>
            <p>Runtime: {{movie.runtime}}</p>
            <br>
            <hr>
            <a [routerLink]="['/edit-movie/'+movie._id]" class="btn btn-success btn-lg">Edit</a>
            <button type= "button" class="btn btn-danger btn-lg" (click)= "onDeleteClick()">Delete</button>
        </div>
    </div>
</div>


