<div *ngIf="movie" class="container outerbox">
  <h3 class="page-header" style="text-align:center;">{{movie.title}} ({{movie.year}})</h3>
  <ngx-flash-messages></ngx-flash-messages>
  <hr>
    <div class="row">
        <div class="col-md-4">
            <img src="http://localhost:3000/uploads/{{movie.poster}}" style="width:90%; height:90%;" class="thumbnail" >
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
            <thead class="thead-inverse"><tr><th><h5>{{movie.synopsis}}</h5></th></tr></thead>
            <tr>Starring: {{movie.starring}}</tr>
            <tr>Directed by By: {{movie.director}}</tr>
            <tr>Written By: {{movie.writer}}</tr>
            <tr>Released: {{movie.year}}</tr>
            <tr>Genre: {{movie.genre}}</tr>
            <tr>Certificate: {{movie.certificate}}</tr>
            <tr>Country: {{movie.country}}</tr>
            <tr>Language: {{movie.language}}</tr>
            <tr>Runtime: {{movie.runtime}} minutes</tr>
            </table>
            <hr>
            <button type= "button" class="btn btn-danger btn-lg" (click)= "onDeleteClick(movie._id)">Delete</button>
            <button type= "button" class="btn btn-success btn-lg" (click)= "openEdit(movie._id)">Edit</button>
            
        </div>
    </div>
</div>
<br>
<div *ngIf="movie">
  <h4>More Movies like {{movie.title}}</h4>
</div>
    <app-slider [movies]= "moviesByGenre"></app-slider>





