<div *ngIf="movie" class="container">
  <h2 class="page-header">{{movie.title}}</h2>
    <div class="row">
        <div class="col-md-4">
            <li class="list-group-item thumbnail"><img src={{movie.poster}} ></li>
        </div>
        <div class="col-md-8">
            <li class="list-group-item">Plot: {{movie.synopsis}}</li>
            <li class="list-group-item">Starring: {{movie.starring}}</li>
            <li class="list-group-item">Directed by By: {{movie.director}}</li>
            <li class="list-group-item">Written By: {{movie.writer}}</li>
            <li class="list-group-item">Released: {{movie.year}}</li>
            <li class="list-group-item">Genre: {{movie.genre}}</li>
            <li class="list-group-item">Certificate: {{movie.certificate}}</li>
            <li class="list-group-item">Language: {{movie.language}}</li>
            <li class="list-group-item">Runtime: {{movie.runtime}}</li>
        </div>
    </div>
</div>
