<!-- <img src="http://localhost:4200/assets/img/darkback.png"/> -->
<!-- <img src="http://localhost:4200/assets/img/darkback.png"/> -->
<!-- <img src="../../assets/img/titanic.png" class="thumbnail" >
<img src="../../assets/img/darkback.png" class="thumbnail" > -->

<div [ngStyle]="{'background': 'url('+picture+') no-repeat center center fixed', 'background-size': '100%', 'width':'1980px',
'margin-left':'-26%'}">
    <div class="container">
        <h1>Here's some markup</h1>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1>End of markup</h1>
    </div>
</div>

