<div [ngStyle]="{'background': 'url('+picture+') no-repeat center center fixed', 'background-size': '100%','width':'1980px', 'height':'1080px',
'margin-left':'-26%', 'margin-bottom': '1em;', 'margin-top':'0%'}">
  <div class="container" style="margin-left:15%;">
      <div
        ng2-carouselamos
        class="slides-wrapper"
        [items]="movies"
        [width]="1000"
        [$prev]="prev"
        [$next]="next"
        [$item]="item"
      > </div>
    

     <ng-template #prev>
      <img src="../../assets/img/left-arrow.png" id="left" />
    </ng-template>
    <ng-template #next>
      <img src="../../assets/img/right-arrow.png" id="right"/>
    </ng-template>
    <ng-template #item let-item let-i="index">
        <div class="items" style="width:1800px;">
          <div class="card card-inverse" >
          <img class="card-img" src="../../assets/img/{{item.poster}}" alt="Card image cap">
          <div class="card-img-overlay">
            <br><br><br><br><br><br><br><br><br><br>
            <h4 class="card-title">{{item.title}}</h4>
            <p class="card-text">Director: {{item.director}}<br>{{item.genre}}<br>{{item.year}}
             <a routerLink="/movie/{{item._id}}" class="btn btn-secondary btn-sm float-right">Details</a> 
             </p> 
          </div>
        </div>
      </div>
    </ng-template>  
  </div>
</div>




    