

 <div class="card">
  <div class="card-header">
    Add New Movie
  </div>
  <div class="card-block">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
         <div class="form-group">
          <label class="left" for="title">Title: </label>
          <input type="text"
          class="form-control right"
          [(ngModel)]="movie.title"
          name="title"
          #movieTitle="ngModel">
      </div>
        <div class="form-group">
          <label class="left" for="writer">Writer</label>
          <input type="text"
          class="form-control right"
          [(ngModel)]="movie.writer"
          name="writer"
          #movieWriter="ngModel"
          >
      </div>
        <div class="form-group">
          <label class="left" for="director">Director</label>
          <input type="text"
          class="form-control right"
          [(ngModel)]="movie.director"
          name="director"
          #movieDirector="ngModel"
          >
      </div>
        <div class="form-group">
          <label class="left" for="starring">Starring</label>
          <input type="text"
          class="form-control right"
          [(ngModel)]="movie.starring"
          name="starring"
          #movieStarring="ngModel"
          >
      </div>
        <div class="form-group">
          <label class="left" for="genre">Genre</label>
          <input type="text"
          class="form-control right"
          [(ngModel)]="movie.genre"
          name="genre"
          #movieGenre="ngModel"
          >
      </div>
        <div class="form-group">
          <label class="left" for="country">Country</label>
          <input type="text"
          class="form-control right"
          [(ngModel)]="movie.country"
          name="country"
          #movieCountry="ngModel"
          >
      </div>
        <div class="form-group">
          <label class="left" for="year">Year</label>
          <input type="text"
          class="form-control right"
          [(ngModel)]="movie.year"
          name="year"
          #movieYear="ngModel"
          >
      </div>
        <div class="form-group">
          <label class="left" for="language">Language</label>
          <input type="text"
          class="form-control right"
          [(ngModel)]="movie.language"
          name="language"
          #movieLanguage="ngModel"
          >
      </div>
        <div class="form-group">
          <label class="left" for="runtime">Runtime</label>
          <input type="text"
          class="form-control right"
          [(ngModel)]="movie.runtime"
          name="runtime"
          #movieRuntime="ngModel"
          >
      </div>
        <div class="form-group">
          <label class="left" for="Certificate">certificate</label>
          <input type="text"
          class="form-control right"
          [(ngModel)]="movie.certificate"
          name="certificate"
          #movieCertificate="ngModel"
          >
      </div>
        <div class="form-group">
          <label class="left" for="synopsis">Synopsis</label>
          <textarea
          class="form-control right"
          [(ngModel)]="movie.synopsis"
          name="synopsis"
          #movieSynopsis="ngModel"
          ></textarea>
      </div>
        <div class="form-group">
          <label class="left" for="poster">Poster</label>
          <input type="text"
          class="form-control right"
          [(ngModel)]="movie.poster"
          name="poster"
          #moviePoster="ngModel"
          >
          <input type="file" 
          class="form-control right"
          name="imgUpload"
          ng2FileSelect [uploader]="uploader"
          (change)="onChange($event)" />
          <button  type="button" class="upldbtn btn btn-success form-control left" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          Upload
          </button>
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar"></div>
            </div>
        </div>
      <div class ="button group" style="width:100%;">
        <button type="button" class="btn btn-danger" (click)="onClose()">Close</button>
        <input type="submit" class="btn btn-success" value="Submit">
      </div>
    </form>
  </div>
</div>  