

<div class="box-container" fxLayout="column" [ngStyle.lt-sm]="'min-height: 800px;'">
  <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex>
    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
      <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
        <swiper *ngIf="type == 'component' && show" overlay-controls [config]="config" (indexChange)="onIndexChange($event)" fxFlex>
          <div *ngFor="let movie of movies" class="swiper-slide">
            <div class="swiper-slide-content" fxLayout="column" fxLayoutAlign="center center">
                <div class="card card-inverse img-fluid">
                  <img class="card-img" src="http://localhost:3000/uploads/{{movie.poster}}" alt="Card image cap">
                  <div class="card-img-overlay">
                    <br><br><br><br><br><br><br><br>
                    <h6 class="card-title">{{movie.title}}</h6>
                    <p class="card-text">{{movie.genre}}<br>{{movie.year}}
                    <a [routerLink]="['/movie/'+movie._id]" type="" href="" class="btn btn-secondary btn-sm float-right">Details</a></p>
                  </div>
              </div> 
            </div>
          </div>
        </swiper>
   </div>
</div>

