<br><br>
<div class="row"> 
  <div class="col-md-6">
    <ngx-flash-messages id="tableFlash"></ngx-flash-messages>
    <h2 id="allMoviesHead"><i class="fa fa-users"></i>All Movies</h2>
  </div>
  <div class="col-md-6">
    <input id="tableTitleSearch" style="float:right; border-width:1px; border-style:solid; padding:1px 1px 1px 1px;" type="text" [(ngModel)]="movieFilter.title" placeholder="Search by title">
  </div>
</div>
<table *ngIf="movies?.length > 0;" class="table table-striped"> 
  <thead class="thead-inverse">
    <tr>
      <th>Poster</th>
      <th>Title</th>
      <th>Writer</th>
      <th>Director</th>
      <th>Starring</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Plot</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies | filterBy: movieFilter | paginate: { itemsPerPage: 4, currentPage: page }">
      <td ><img id="posterField" class="thumbnail" src="http://localhost:3000/uploads/{{movie.poster}}" height="50%"></td> 
      <td id="tableTitleField">{{movie.title}}</td>
      <td>{{movie.writer}}</td>
      <td>{{movie.director}}</td>
      <td>{{movie.starring}}</td>
      <td>{{movie.genre}}</td>
      <td>{{movie.year}}</td>
      <td>{{movie.synopsis}}</td>
      <td><a [routerLink]="['/movie/'+movie._id]" href="" class="btn btn-outline-info btn-sm btn-block">Details</a><br>
      <button type= "button" class="btn btn-outline-primary btn-sm btn-block" (click)= "openEdit(movie)">Edit</button><br>
      <button type= "button" class="btn btn-outline-danger btn-sm btn-block" (click)= "onDeleteClick(movie)">Delete</button></td>  
    </tr>
  </tbody>
  </table>
  <div>
    <ngb-pagination
     [collectionSize]="collectSize"
     [(page)]="page" 
     [boundaryLinks]=true
     aria-label="Default pagination" 
     (pageChange)="page = $event"></ngb-pagination>
</div>
