:host /deep/ .index-column,
:host /deep/ .index-column-header {
    text-align: right;
}

:host /deep/ .data-table .data-table-row.selected {
    background-color: #E4EDF9;
}

.modal-title{
    text-align: left;
}

 /* :host /deep/ .input-group-addon, .input-group-btn, .input-group .form-control {
    display: -webkit-box;
    display: -ms-flexbox; */
    /* display: flex; */
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}    */