 <div class="row">
  <div class="cold-md-6">
    <a [routerLink]="['/movie/'+movie._id]" href="#" class="btn btn-link">Back to Movie</a>
  </div>
  <div class="cold-md-6">
    
  </div>
</div>

 <div class="card">
  <div class="card-header">
    Edit Movie
  </div>
  <div class="card-block">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
         <div class="form-group">
          <label for="title">Title</label>
          <input type="text"
          class="form-control"
          [(ngModel)]="movie.title"
          name="title"
          #movieTitle="ngModel"
          >
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Submit">
    </form>
  </div>
</div>  